body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #ecf0f1;
}

.container {
	max-width: 80%;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.nav a {
    font-size: 1.2rem;
    color: #3498db;
    text-decoration: none;
    margin-right: 1.5rem;	
}

.about {
	font-size: 1.2rem;
	line-height: 1.9rem;
	text-align: justify;
}

ul {
	list-style: none;
	padding-left: 0;	
}

li {
	margin-bottom: 0.5rem;
}

ul a {
    color: #0984e3;
    text-decoration: none;    
}